<div class="page-header">
    <h1>
        Viewing Photo
        <a href="/photos/{{ photo.photo._id }}/edit" class="btn btn-primary" ng-show="photo.canEdit">
            <span class="glyphicon glyphicon-plus"></span>
            Edit Photo
        </a>
    </h1>
</div>

<div class="row" ng-show="photo.photo">
    <div class="col-md-6">
        <div class="photo">
            <p><img src="{{ photo.photo.url }}" alt="{{ photo.photo.caption }}"></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="media">
            <div class="media-left">
                <a href="/users/{{ photo.user._id }}">
                    <img class="media-object" src="/assets/images/anonymous.jpg" alt="User" width="40">
                </a>
            </div>
            <div class="media-right">
                <h4 class="media-heading"><a href="/users/{{ photo.user._id }}">{{ photo.user.username }}</a></h4>
                <p>{{ photo.photo.createdAt | date:'medium' }} <span ng-show="photo.photo.updatedAt != photo.photo.createdAt">(updated {{ photo.photo.updatedAt | date:'medium' }})</span></p>
                <p>{{ photo.photo.caption }}</p>
            </div>
        </div>

        <hr>

        <ol class="comments-list" ng-show="photo.comments">
            <li ng-repeat="comment in photo.comments">
                <div class="media">
                    <div class="media-left">
                        <a href="/users/{{ comment._user }}">
                            <img class="media-object" src="/assets/images/anonymous.jpg" alt="User" width="32">
                        </a>
                    </div>
                    <div class="media-right">
                        <p><a href="/users/{{ comment._user }}">{{ comment._user }}</a></p>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            </li>
            <li ng-if="photo.comments.length == 0">No comments for this photo yet.</li>
        </ol>

        <form class="form" name="addCommentForm" ng-submit="photo.saveComment()">
            <div class="form-group">
                <label for="commentText" class="sr-only">Comment</label>
                <textarea id="commentText" class="form-control" rows="3" ng-model="photo.commentData.content" placeholder="Leave a comment..." required></textarea>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-default">
                    <span ng-if="!photo.processing">Save Comment</span>
                    <span ng-if="photo.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
                </button>
            </div>
        </form>
    </div>
</div>
