<div class="jumbotron text-center">
    <h1>Honours Photos</h1>

    <div ng-if="!loggedIn">
        <p>Log in or sign up to browse and manage photos.</p>
        <a href="/login" class="btn btn-primary">Log in</a>
        <a href="/signup" class="btn btn-primary">Sign up</a>
    </div>

    <div ng-if="loggedIn">
        <p>Browse and manage photos.</p>
        <a href="/photos" class="btn btn-primary">Browse</a>
        <a href="/users/{{ loggedUser.id }}" class="btn btn-primary">Manage</a>
    </div>
</div>
