/**
 * STYLE.SCSS
 */

html {
    font-family: sans-serif;
}

/**
 * Bootstrap.
 */
p.bg-info {
    padding: 15px;
}

/**
 * Photos.
 */

.photo {
    img {
        max-width: 100%;
        height: auto;
    }
}

/**
 * Users.
 */
.users-list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

    h2 {
        margin-bottom: 20px;
    }
}

/**
 * Comments.
 */

.comments-list {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

    li {
        position: relative;
    }
}

.comment-delete-btn {
    position: absolute;
    top: 0;
    right: 0;
}
